<h1>　</h1>
<h2>専門種目　<%= @user.event %></h2>
<h2>目標　　　<%= @user.goal %></h2><br>

<h3>競技結果一覧</h3>
<% @results.each do |result| %>
  <div class="result">
    <%= result.date %>
    <%= result.game_name %><br>
    <%= result.event.name %>
    <%= result.result %>
    <% if current_user == result.user %>
      <div class="destroy">
        <%= link_to '削除', result_path(result.id), data: { turbo_method: :delete } %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="reviews">
  <h1>　</h1>
  <h3>振り返り一覧</h3>
  <% @reviews.each do |review| %>
    <div class="show_review">
      <%= link_to review.date, review_path(review.id) %>
    </div>
  <% end %>
</div>