<% @results.each do |result| %>
  <div class="result">
    <%= result.date %>
    <%= result.game_name %><br>
    <%= result.event.name %>
    <%= result.result %>
    <div class="destroy">
    <%= link_to '削除', result_path(result.id), data: { turbo_method: :delete } %>
    </div>
  </div>
<% end %>