<% @results.each do |result| %>
  <div class="result">
    <%= result.user.nickname %>
    <%= result.date %>
    <%= result.game_name %><br>
    <%= result.event.name %>
    <%= result.result %>
  </div>
<% end %>
