<div class="contents row">
  <div class="container">
    <h3>競技結果投稿</h3>
    <%= form_with(model: @result, local: true) do |form| %>
      <%= form.label :date, "日付" %>
      <%= form.date_field :date, placeholder: "日付" %>
      <%= form.text_field :game_name, placeholder: "大会名" %>
      <%= form.label :event, "種目" %>
      <%= form.collection_select(:event_id, Event.all, :id, :name, {}, { class: "contain" }) %>
      <%= form.text_field :result, placeholder: "記録" %>
      <%= form.submit "投稿する" %>
    <% end %>
  </div>
</div>