<div class="contents row">
  <div class="container">
    <h3>振り返り投稿</h3>
    <%= form_with(model: @review, url: reviews_path, local: true) do |form| %>
      <%= render "layouts/error_messages", model: @review %><br>
      <%= form.label :date, "日付" %>
      <%= form.date_field :date, placeholder: "日付" %>
      <%= form.text_field :activity, placeholder: "練習内容・競技内容" %>
      <%= form.text_area :review, placeholder: "振り返り", class: "review" %>
      <%= form.submit "投稿する" %>
    <% end %>
  </div>
</div>