<h1>　</h1>
<h2>振り返り</h2>
<div class="review_main">
  <div class="review_date">
    <%= @review.date %><br>
  </div>
  <div class="review_activity">
    <%= "練習内容・競技内容" %><br>
    <%= @review.activity %><br>
  </div>
  <div class="review_review">
    <%= "振り返り内容" %><br>
    <%= @review.review %>
  </div>
    <% if current_user == @review.user %>
      <div class="review_destroy">
        <%= link_to '削除', review_path(@review), data: { turbo_method: :delete } %>
      </div>
    <% end %>
    <% if current_user != @review.user %>
      <div class="review_destroy">
        <%= link_to 'コメントする', "#" %>
      </div>
    <% end %>
</div>