<div class="contents row">
  <div class="container">
    <div class="review_date">
      <%= @review.date %><br>
    </div>
    <div class="review_activity">
      <%= "【練習内容・競技内容】" %><br>
      <%= @review.activity %><br>
    </div>
    <div class="review_review">
      <%= "【振り返り内容】" %><br>
      <%= @review.review %>
    </div>
    <div id="like-btn<%= @review.id %>">
      <%= render partial: "likes/like", locals: { review: @review } %>
    </div>
    <%= form_with model: [@review, @comment], id: "comment-form" do |form| %>
      <%= form.text_area :text, placeholder: "コメントする", rows: "5", class: "review_form" %>
      <%= form.submit "コメントする", class: "review_comment" %>
    <% end %>
    <div class="comments" id="comments">
      <h4>＜コメント一覧＞</h4>
      <% @review.comments.each do |comment| %>
        <p class="user-info"><%= comment.user.nickname %>：<%= comment.text %></p>
      <% end %>
    </div>
    <% if current_user == @review.user %>
      <div class="review_destroy">
        <%= link_to '削除', review_path(@review), data: { turbo_method: :delete }, class: 'delete-link', 'data-confirm': '本当に削除していいですか？' %>
      </div>
    <% end %>

  <br><a href="<%= user_path(@review.user) %>">＜前のページへ戻る＞</a>

  </div>
</div>
